*/__pycache__
.idea/*
/graph/__pycache__
/__pycache__
constants.py
main.py
same-graph-result/*
variable-graph-result/*
/graph/sample/__pycache__
win.py
winnability-result/*
/report/data.txt
results/data.txt
test.py
