import constants as cnt
from game.ui_game import ui_game
from report.report import DataService

if __name__ == "__main__":
    isGenerateData = None # Make this None for UI GAME
    points = 1
    service = DataService(isGenerateData, points)

    if service.isGenerateData is None:
        g = ui_game(alpha=cnt.ALPHA, bot_type=cnt.CURRENT_BOT, isUseIpCells=True, is_rat_moving=cnt.IS_RAT_MOVING)
    elif service.isGenerateData:
        service.generate_data()
    else:
        service.plot_moving_rat()  # Graph1
        service.plot_stationary_rat()  # Graph2
        service.plot_combined()  # Graph3
